.grid {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 90vh;
  width: 100%;
  padding: 100px;
}

body {
  background-color: #FAFAFA;
  height: auto;
}

.alert {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 45%;
}

.badge-style {
  margin-bottom: 10px;
}

.head {
background-color: #007bff;
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.head p {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.cart {
  width: 10px;
  color: white;
}

.header {
  height: 120px;
  padding: 30px;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.text {
  text-align: center;
  color: white;
}

h6.rotate {
  transform: rotate(45deg);
  color: #007bff;
  background-color: #FAFAFA;
  padding-top: 5px;
  position: absolute;
  font-size: 14px;
  right: -40px;
  z-index: 1;
  width: 160px;
  height: 30px;
  text-align: center;
}


.bottom-div {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-design {
  border-radius: 20px;
  width: 18vw; 
  margin-bottom: 5vh;
  margin: 20px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:  1s;
}

div.card-design:hover {
  transform: scale(1.1);
}

.card-text {
  margin: 10px;
}

.small-text {
  margin-top: 12px;
  font-size: 14px;
}

.button {
  width: 40%;
  margin-top: 20px;
  background-color: white;
  color: #007bff;
}

#page-container {
  position: relative;
  min-height: 100%;
}

span {
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100vw;
}

.footer {
  background-color: #E5E5E5;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.footer p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .card-design {
    width: 85vw;
    height: 70vh;
    margin-bottom: 5vh;
  }

  .footer {
    display: none;
  }

  .alert {
    position: fixed;
    z-index: 3;
    top: 10%;
    left: 30vw;
  }

}
